<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-task']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mensajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-avatar slot="start">
          <img src="../../../assets/imgs/thumbal.jpg">
        </ion-avatar>
        <ion-label>
          Mauricio G.
        </ion-label>
    </ion-item>
</ion-content>
