<!-- <ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button [routerLink]="['/new-task']">
            <ion-icon slot="icon-only" name="create"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" no-padding>
  <ion-row no-padding>
    <ion-col size-xl="4" offset-xl="4" size-lg="6" offset-lg="3" size-md="10" offset-md="1" size-sm="12" no-padding>
      <div *ngIf="items.length > 0" class="list-mini" no-padding>
          <ion-card *ngFor="let item of items" no-padding>
              <ion-item lines="none">
                  <ion-avatar slot="start">
                    <img src="../../../assets/imgs/perfil.jpg">
                  </ion-avatar>
                  <ion-label>Mauricio Garduño</ion-label>
                  <ion-note>11h ago</ion-note>
                  <ion-button fill="clear"><ion-icon name="more"></ion-icon></ion-button>
              </ion-item>
              <img [src]="item.payload.doc.data().image">
              <ion-card-content>
                  <p>{{item.payload.doc.data().description}}</p>
                  <ion-col>
                      <ion-button fill="clear" size="small" [routerLink]="['/details', item.payload.doc.id]">...Ver más</ion-button>
                  </ion-col>
              </ion-card-content>
              
                <ion-row text-center>
                  <ion-col>
                    <ion-button fill="clear" size="small"><ion-icon name="thumbs-up"></ion-icon>Me gusta</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button fill="clear" size="small"><ion-icon name="text"></ion-icon>Comentar</ion-button>
                  </ion-col>
                  <ion-col>
                      <ion-button fill="clear" size="small"><ion-icon name="ios-redo"></ion-icon>Compartir</ion-button>
                  </ion-col>
                </ion-row>
            </ion-card>
      </div>
      <div *ngIf="items.length == 0" class="empty-list">
        No has publicado nada aún.
      </div>
    </ion-col>
  </ion-row>
</ion-content> -->



<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="card-background-page">
  
    <ion-card mode = "ios">
      <img src="../../assets/card.png"/>
      <div class="card-title">Cuenta Virtual</div>
      <div class="card-subtitle">$2500.00 MX</div>
  
      <div class="button-two">
        <ion-button strong  mode="ios" fill="outline" color="light" (click)="presentActionSheet()"><ion-icon name="md-arrow-round-down"></ion-icon>Deposito</ion-button>
        <ion-button strong  mode="ios" fill="outline" color="light" (click)="alert()">Retiro<ion-icon name="md-arrow-round-up"></ion-icon></ion-button>
      </div>
    </ion-card>
  
    <h1 padding-start>VTickets</h1>
  
    <ion-card mode="ios">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-avatar>
                <img src="../../assets/startbucks.jpg">
              </ion-avatar>
            </ion-col>
            <ion-col size="5">
              <div text-start>
                <p style="font-weight: bold; font-size: 18px;">Starbucks</p>
                <p style="font-size: 14px;">Perisur.</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div text-end>
                <p style="font-weight: bold; font-size: 18px; color: red;">- $49.00</p>
                <p style="font-size: 12px;">20/08/18</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
  
    <ion-card mode="ios">
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <ion-avatar>
                <img src="../../assets/bbva.jpg">
              </ion-avatar>
            </ion-col>
            <ion-col size="5">
              <div text-start>
                <p style="font-weight: bold; font-size: 18px;">BBVA VTicket</p>
                <p style="font-size: 14px;">Artz.</p>
              </div>
            </ion-col>
            <ion-col size="4">
              <div text-end>
                <p style="font-weight: bold; font-size: 18px;">$590.00</p>
                <p style="font-size: 12px;">20/08/18</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
  
  </ion-content>
  