<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-task']">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content *ngIf="items" class="list-mini-content" no-padding>
  <ion-row no-padding>
    <ion-col size-xl="4" offset-xl="4" size-lg="6" offset-lg="3" size-md="10" offset-md="1" size-sm="12" no-padding>
      <div *ngIf="items.length > 0" class="list-mini" no-padding>
          <ion-card *ngFor="let item of items" no-padding>
              <ion-item lines="none">
                  <ion-avatar slot="start">
                    <img src="../../../assets/imgs/perfil.jpg">
                  </ion-avatar>
                  <ion-label>Mauricio Garduño</ion-label>
                  <ion-note>11h ago</ion-note>
                  <ion-button fill="clear"><ion-icon name="more"></ion-icon></ion-button>
              </ion-item>
              <img [src]="item.payload.doc.data().image">
              <ion-card-content>
                  <p>{{item.payload.doc.data().description}}</p>
                  <ion-col>
                      <ion-button fill="clear" size="small" [routerLink]="['/details', item.payload.doc.id]">...Ver más</ion-button>
                  </ion-col>
              </ion-card-content>
              
                <ion-row text-center>
                  <ion-col>
                    <ion-button fill="clear" size="small"><ion-icon name="thumbs-up"></ion-icon>Me gusta</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button fill="clear" size="small"><ion-icon name="text"></ion-icon>Comentar</ion-button>
                  </ion-col>
                  <ion-col>
                      <ion-button fill="clear" size="small"><ion-icon name="ios-redo"></ion-icon>Compartir</ion-button>
                  </ion-col>
                </ion-row>
            </ion-card>
      </div>
      <div *ngIf="items.length == 0" class="empty-list">
        No has publicado nada aún.
      </div>
    </ion-col>
  </ion-row>
</ion-content> -->

<!-- <ion-content *ngIf="items" class="list-mini-content" no-padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  <div *ngIf="items.length > 0" class="list-mini">
    <ion-card>
      <ion-item *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]" class="animated bounceInRight">
        <ion-thumbnail slot="start">
          <img [src]="item.payload.doc.data().image">
        </ion-thumbnail>
        <ion-label>{{item.payload.doc.data().title}}</ion-label>
        <ion-button fill="clear" slot="end">Detalles</ion-button>
      </ion-item>
    </ion-card>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Ingresa un nuevo alimento.
  </div>
</ion-content> -->

<ion-content>

      <!-- <ngx-barcode [bc-value]="value" [bc-display-value]="true"></ngx-barcode>

      <ngx-qrcode 
        [qrc-value] = "qrData"
        qrc-class = "aclass"
        qrc-errorCorrectionLevel = "L">
      </ngx-qrcode> -->


        <!-- QR de Págo -->
  <!-- <qrcode [qrdata]="'Your QR code data string'" [size]="256" [level]="'M'"></qrcode> -->
  <ion-card class="animated zoomInDown" mode="ios">
      <ion-row>
        <ion-col size="6">
          <div text-center>
            <ngx-qrcode [qrc-value]="qrCode"></ngx-qrcode>
            <!-- <qrcode [qrdata]="'Your QR code data string'" [size]="256" [level]="'M'"></qrcode> -->
          </div>
        </ion-col>
        <ion-col size="6">
          <h3>Págo De:</h3>
          <div text-left class="animated bounceInLeft" *ngIf="createdCode">
            <a style="font-weight: bold; font-size: 32px; color:#616161;">${{ createdCode }}</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>
  
    <ion-fab class="animated pulse" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light" mode="ios">
      <ion-icon name="resize"></ion-icon>
    </ion-fab-button>
    </ion-fab>

  
  </ion-content>

<!-- Teclado de pago -->
<ion-footer class="animated fadeInUp" color="light" mode="ios">
    <ion-row>
      <ion-col size="4">
        <ion-button mode="ios" color="light" expand="block" (click)="oneButton()">1</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="light" expand="block" (click)="twoButton()">2</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="light" expand="block" (click)="threeButton()">3</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="light" expand="block" (click)="fourButton()">4</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="light" expand="block" (click)="fiveButton()">5</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="light" expand="block" (click)="sixButton()">6</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="light" expand="block" (click)="sevenButton()">7</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="light" expand="block" (click)="eightButton()">8</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="light" expand="block" (click)="nineButton()">9</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="secondary" expand="block" (click)="scanCode()"><ion-icon name="barcode"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="light" expand="block" (click)="zeroButton()">0</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button mode="ios" color="danger" expand="block" (click)="cleanButton()"><ion-icon name="close"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    </ion-footer>
    
